.contenedor {
    display: flex;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.user-info :where(h1) {
    font-weight: bold;
    margin-bottom: 20px;
}

.container-profile {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    justify-content: center;
    width: 250px;
    color: #fff;
    padding: 20px;
    flex-direction: column;
}

.sidebar .btn-sidebar {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    color: #fff;
    background: #FF6F61;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.sidebar :where(a) {
    text-align: center;
    text-decoration: none;
}

.sidebar .btn-sidebar:hover {
    background: #FFA07A;
}

.btn-sidebar-load {
    background-color: #FF6F61;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.btn-sidebar-load:hover {
    background-color: #FFA07A;
}

.content {
    padding: 20px;
    width: 100%;
}

.container-profile {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-row label {
    font-weight: bold;
    color: #555;
}

.info-row .col-sm-4 {
    width: 30%;
}

.info-row .col-sm-8 {
    width: 70%;
}

.info-row span {
    font-size: 16px;
    color: #333;
}

.button-container {
    text-align: right;
}

.btn-edit {
    background-color: #FF6F61 !important;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.btn-edit:hover {
    background: #0056b3;
}

/* Table styles */
.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table th {
    background-color: #FF6F61 !important;
    color: white;
}

.table thead th,
.table tbody td {
    padding: 12px;
    text-align: left;
}

/*Icono de truck con movimienot*/
.truck-icon {
    display: inline-flex;
    align-items: center;
}

.truck-icon :where(svg) {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.truck-icon:hover :where(svg) {
    transform: translateX(10px);
}