{% extends "base.html" %}


{% load static %}


{% block title %}
    <title>CAPIBARA - Carrito</title>
{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
    <script src="https://sdk.mercadopago.com/js/v2">
    </script>
{% endblock style %}

{% block nav-activate %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg"
            width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
        </svg> Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contacto">Nosotros</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/productos">Productos</a>
</li>

<li class="nav-item dropdown">
    {% if user.is_authenticated %} 
        <a class="nav-link dropdown" role="button"data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="30"
            height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>{{user.username}}</a>
        {% else %} 
            <a class="nav-link" href="acceso"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                    height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </a>
        {% endif %} 
        <ul id="dropNavbar" class="text dropdown-menu">
            <form method="post" action="{% url 'perfil' %}">
                {% csrf_token %}
                <li><button class="dropdown-item" type="submit" name="logout">Perfil</button></li>
            </form>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <li><button class="dropdown-item" type="submit" name="logout">Cerrar sesión</button></li>
            </form>
        </ul>
</li>
{% endblock nav-activate %}


{% block body %}
<section class="container">
    <section class="container-cart">
        <h1>Carrito de Compras</h1>
        <table class="table-cart">
            <thead>
                <tr>
                    <th>cod</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Costo adicional</th>
                    <th>Precio unitario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito_items %}
                <tr>
                    <td>{{ item.producto.cod }}</td>
                    <td><img src="{{ item.producto.img.url }}" class="card-img-top" alt="{{ item.producto.nombre }}"></td>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    {% if costo_despacho %}
                    ${{ costo_despacho }}
                {% else %}
                    $0
                {% endif %}
                    <td>
                        {% if costo_adicional %}
                            ${{item.costo_adicional}}
                            {% else %}
                            $0
                            {% endif %}
                    </td>
                    <td>${{ item.producto.precio }}</td>
                    <td>
                        <form action="{% url 'eliminar_producto' item.producto.cod %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                              </svg></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <div class="text-center mt-3">
            <form action="{% url 'vaciar_carrito' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Vaciar Carrito</button>
            </form>
        </div>        
        
        <div class="container-metodo-delivery" id="shipping-method">
            <h2>Método de Envío</h2>
            <form class="form-shipping" id="shipping-form">
                <div>
                    <input type="radio" id="domicilio" name="shipping" value="domicilio">
                    <label for="domicilio">Despacho a Domicilio</label>
                </div>
            </form>
            <div id="shipping-details" style="display: none;">
                <h2>Detalles de Envío</h2>
                <form id="shipping-details-form">
                    <div>
                        <label for="direccion">Ingresar Dirección:</label>
                        <input type="text" id="direccion" name="direccion">
                    </div>
                    <div>
                        <label for="numero-direccion">Ingresar Número de Dirección:</label>
                        <input type="text" id="numero-direccion" name="numero-direccion">
                    </div>
                    <div>
                        <label for="telefono">Ingresar Número de Teléfono:</label>
                        <input type="text" id="telefono" name="telefono">
                    </div>
                    <div>
                        <label for="zona">Seleccionar Zona:</label>
                        <select id="zona" name="zona">
                            <option value="">Seleccione una zona</option>
                            <option value="Zona 1 (Arica y Parinacota - Antofagasta)">Zona 1 (Arica y Parinacota -
                                Antofagasta)</option>
                            <option value="Zona 2 (Atacama - Coquimbo)">Zona 2 (Atacama - Coquimbo)</option>
                            <option value="Zona 3 (Valparaiso - Maule)">Zona 3 (Valparaiso - Maule)</option>
                            <option value="Zona 4 (BIOBIO - Los Lagos)">Zona 4 (BIOBIO - Los Lagos)</option>
                            <option value="Zona 5 (Aysen - Magallanes)">Zona 5 (Aysen - Magallanes)</option>
                        </select>
                    </div>
                    <div id="region-container" style="display: none;">
                        <label for="region">Seleccionar Región:</label>
                        <select id="region" name="region">
                            <option value="">Seleccione una región</option>
                        </select>
                    </div>
                    <div id="comuna-container" style="display: none;">
                        <label for="comuna">Seleccionar Comuna:</label>
                        <select id="comuna" name="comuna">
                            <option value="">Seleccione una comuna</option>
                        </select>
                    </div>
                    <button type="button" id="confirmar-envio">Confirmar Envío</button>
                    <button type="button" id="editar-direccion">Editar Dirección</button>
                </form>
            </div>
        </div>
    </section>

    <section class="checkout" id="Checkout">
        <h2>Resumen de la Compra</h2>
        <div class="subtotal">
            <span>Subtotal:</span>
            <span id="Sub-cart">${{ subtotal_carrito }}</span>
        </div>
        <div class="iva">
            <span>IVA (19%):</span>
            <span id="iva-cart">${{ iva }}</span>
        </div>
        
        <div class="despacho">
            <span>Costo de Despacho:</span>
            <span id="Cost-despacho">
                {% if costo_despacho %}
                    ${{ costo_despacho }}
                {% else %}
                    $0
                {% endif %}
            </span>
        </div>          
        <div class="total" data-total-con-iva="{{ total_con_iva }}">
            <span>Total:</span>
            <span id="Total-cart">${{ total_con_iva }}</span>
        </div>        
        <div id="paymentBrick_container">
        </div>
    </section>
</section>

{% endblock body %}

{% block script %}
    <script src="{% static "js/get-zones.js" %}"></script>
    <script src="{% static "js/get-cart.js" %}"></script>
    <script src="{% static "js/mercadopago.js" %}"></script>
{% endblock script %}