{% extends "base.html" %}


{% load static %}


{% block title %}
    <title>CAPIBARA - Carrito</title>
{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
{% endblock style %}

{% block nav-activate %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg"
            width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
        </svg> Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contacto">Nosotros</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="">Productos</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="acceso.html"><svg xmlns="http://www.w3.org/2000/svg" width="30"
            height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg></a>
</li>
{% endblock nav-activate %}


{% block body %}
<section class="container">
    <section class="container-cart">
        <h1>Carrito de Compras</h1>
        <table class="table-cart">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito_items %}
                <tr>
                    <td><img src="{{ item.producto.img.url }}" class="card-img-top" alt="{{ item.producto.nombre }}"></td>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.producto.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container-metodo-delivery" id="shipping-method">
            <h2>Método de Envío</h2>
            <form class="form-shipping" id="shipping-form">
                <div>
                    <input type="radio" id="domicilio" name="shipping" value="domicilio">
                    <label for="domicilio">Despacho a Domicilio</label>
                </div>
            </form>
            <div id="shipping-details" style="display: none;">
                <h2>Detalles de Envío</h2>
                <form id="shipping-details-form">
                    <div>
                        <label for="direccion">Ingresar Dirección:</label>
                        <input type="text" id="direccion" name="direccion">
                    </div>
                    <div>
                        <label for="numero-direccion">Ingresar Número de Dirección:</label>
                        <input type="text" id="numero-direccion" name="numero-direccion">
                    </div>
                    <div>
                        <label for="telefono">Ingresar Número de Teléfono:</label>
                        <input type="text" id="telefono" name="telefono">
                    </div>
                    <div>
                        <label for="zona">Seleccionar Zona:</label>
                        <select id="zona" name="zona">
                            <option value="">Seleccione una zona</option>
                            <option value="Zona 1 (Arica y Parinacota - Antofagasta)">Zona 1 (Arica y Parinacota -
                                Antofagasta)</option>
                            <option value="Zona 2 (Atacama - Coquimbo)">Zona 2 (Atacama - Coquimbo)</option>
                            <option value="Zona 3 (Valparaiso - Maule)">Zona 3 (Valparaiso - Maule)</option>
                            <option value="Zona 4 (BIOBIO - Los Lagos)">Zona 4 (BIOBIO - Los Lagos)</option>
                            <option value="Zona 5 (Aysen - Magallanes)">Zona 5 (Aysen - Magallanes)</option>
                        </select>
                    </div>
                    <div id="region-container" style="display: none;">
                        <label for="region">Seleccionar Región:</label>
                        <select id="region" name="region">
                            <option value="">Seleccione una región</option>
                        </select>
                    </div>
                    <div id="comuna-container" style="display: none;">
                        <label for="comuna">Seleccionar Comuna:</label>
                        <select id="comuna" name="comuna">
                            <option value="">Seleccione una comuna</option>
                        </select>
                    </div>
                    <button type="button" id="confirmar-envio">Confirmar Envío</button>
                    <button type="button" id="editar-direccion">Editar Dirección</button>
                </form>
            </div>
        </div>
    </section>

    <section class="checkout" id="Checkout">
        <h2>Resumen de la Compra</h2>
        <div class="subtotal">
            <span>Subtotal:</span>
            <span id="Sub-cart"></span>
        </div>
        <div class="iva">
            <span>IVA (19%):</span>
            <span id="iva-cart"></span>
        </div>
        <div class="despacho">
            <span>Costo de Despacho:</span>
            <span id="Cost-despacho"></span>
        </div>
        <div class="total">
            <span>Total:</span>
            <span id="Total-cart"></span>
        </div>
    </section>
</section>

{% endblock body %}

{% block script %}
    <script src="{% static "js/get-zones.js" %}"></script>
    <script src="{% static "js/get-cart.js" %}"></script>
{% endblock script %}